<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Defines.wxi ?>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductDisplayName)"
                  Target="[INSTALLFOLDER]TeaHouseShell.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryKey Root="HKCU" Key="$(var.ProductRegKey)">
          <RegistryValue Type="string" Name="InstallDir" Value="[INSTALLFOLDER]"/>
          <RegistryValue Type="integer" Name="Installed" Value="1" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>